h1 {
  background-color: #306da6;
  color: white;
  margin: 0;
  padding: 10px 5px;
  font-size: 24px; }

a {
  text-decoration: none; }

body {
  background-color: #e0e3f0; }

dl {
  margin: 0; }
  dl dt {
    padding: 15px 5px;
    background-color: #729d71;
    color: white;
    border-bottom: 1px solid #dddddd;
    font-family: Futura-Medium;
    font-weight: bold; }
  dl dd {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    font-family: Cochin; }
    dl dd.expanded {
      opacity: 1;
      height: auto;
      padding: 10px 0; }
